*{
    margin:0;
    padding: 0;
    color: #fff;
}

body{
    background-color: #22254B;
}

.app-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 100px;
}

.movie-card{
    width: 200px;
    height: 375px;
    background-color: #373B69;
    border-radius: 5px;
    margin: 10px;
}


.movie-card .movie-image img{
    width: 100%;
}

.movie-card .movie-title{
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.movie-card .movie-title h3{
    width: 80%;
    font-size: 16px;
    font-weight: 500;
}